html {
    background-color: rgb(64, 155, 136);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 48px;
    font-weight: bolder;
    color: rgb(254, 247, 237);
    text-decoration: underline;
    font-style: italic;
}

#container1 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 600px;
    background-color: rgb(47, 109, 96);
    border-radius: 10px;
}

#container2 {
    border: 2px solid #272727;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 396px;
    background-color: rgb(234, 234, 234);
    font-size: 20px;
}

#container3 {
    display: flex;
}

#container4 {
    font-size: 0px;
}

#container5 {
    display: flex;
    flex-direction: column;
    font-size: 0px;
}

.button1,
.button2,
#button4,
#button5 {
    width: 100px;
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
}

#button3 {
    width: 200px;
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
}

#button6 {
    width: 300px;
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
}

#container5 .button2 {
    background-color: rgb(250, 179, 92);
}

#container5 #button5 {
    background-color: rgb(248, 135, 59);
}

